main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  font-family: 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1.5;
	font-size: 18px;
	letter-spacing: .1em;
	font-family: 'Times New Roman', Times, serif;
}

p {
	font-size: 1.1rem;
	margin-top: 0;
}

a {
  padding: 10px;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #072c50;
}

a:hover {
  background: #b88746;
  color: #072c50;
  border-radius: 15px;
  text-shadow: none;
}

header {
  background-color: #072c50;
  color: #b88746;
  display: flex;
	justify-content: space-between;
	padding: 1rem;
	text-align: center;
}

header a {
	color: #b88746;
}

button {
  background: #072c50;
  border: 0;
  border-radius: .5rem;
  color: #b88746;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 1rem;

}

button:hover {
  background: #b88746;
  color: #072c50;
}

img {
	max-width: 100%;
}

span[role="img"] {
	cursor: default;
}

form {
	width: 40%;
}

input:focus {
	border: 1px solid var(--secondary);
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

ol li {
	list-style: inside;
}

ul li {
	list-style: none;
}

nav a:hover {
	text-decoration: none;
}

nav li {
	cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
	width: 85%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.flex-row {
	display: flex;
	justify-content: space-evenly;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.photo {
	width: auto;
	height: auto;
	max-width: 640px;
	max-height: 480px;
	padding: 50px;
}

.image {
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 500px;
	padding: 50px;
}

.center {
	display: flex;
	justify-content: center;
}

.page-header {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	margin: 5px 0;
	line-height: 1.25;
	padding-bottom: 2rem;
}

.bottom-spacing {
	margin-bottom: var(--spacing-five);
}

.card {
	width: 25%;
	text-align: center;
}

.card-title {
	font-size: 1.5rem;
	color: var(--quaternary);
}

.card-subtitle {
	font-size: 1rem;
	color: var(--tertiary);
}

.card-text {
	font-size: 0.75rem;
	height: 8rem;
	color: var(--quinary);
}

.card-techs {
	font-size: 0.75rem;
	height: 4rem;
	color: var(--quinary);
}

.card-image {
	max-width: 300px;
	max-height: 150px;
}

.card-link {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 0.70rem;
}

.padding {
	padding: 50px;
}

/* Viewports Styling start*/
@media screen and (max-width: 980px) {}

@media screen and (max-width: 817px) {
	header div {
		position: relative;
		width: 110%;
	}

	header div h2 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	h2 {
		font-size: 1.5rem;
	}

	nav ul li span {
		font-size: 0.75em;
	}

	.mobile-header {
		width: 110%;
	}

	.mobile-row {
		display: block;
		margin: 0 100px 0 auto;
	}

	.mobile-view {
		display: inline;
		text-align: end;
	}

	.photo {
		width: auto;
		height: auto;
		max-width: 500px;
		max-height: 300px;
		padding: 50px;
	}

	input {
		width: 350px;
	}

	textarea {
		width: 350px;
		height: 120px;
		border: 3px solid #cccccc;
		padding: 5px;
	}

	ol {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}

/* Viewports Styling end*/